@page "/reset-password/{userId}"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin, Assistant")]

<div class="container mt-4">
    <h3 class="text-center mb-4">إعادة تعيين كلمة المرور</h3>

    <div class="card">
        <div class="card-body">
            <EditForm Model="resetPasswordModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="NewPassword" class="form-label">كلمة المرور الجديدة</label>
                    <InputText id="NewPassword" @bind-Value="resetPasswordModel.NewPassword" type="password" class="form-control" />
                    <ValidationMessage For="@(() => resetPasswordModel.NewPassword)" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-danger btn-block">إعادة تعيين كلمة المرور</button>
            </EditForm>
        </div>
    </div>
</div>

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

@code {
    [Parameter]
    public string userId { get; set; } = string.Empty;
    private ResetPasswordDto resetPasswordModel = new ResetPasswordDto();
    private List<ToastMessage> messages = new();

    protected override void OnInitialized()
    {
        resetPasswordModel.UserId = userId;
    }

    private async Task HandleValidSubmit()
    {
        var response = await Http.PutAsJsonAsync("api/UserManagement/ResetPassword", resetPasswordModel);
        if (response.IsSuccessStatusCode)
        {
            ShowMessage(ToastType.Success, "تمت إعادة تعيين كلمة المرور بنجاح.");
            await Task.Delay(2000); // Wait for 2 seconds
            NavigationManager.NavigateTo("/user-profile");
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ShowMessage(ToastType.Danger, $"فشل في إعادة تعيين كلمة المرور. الخطأ: {errorMessage}");
        }
    }

    private void ShowMessage(ToastType toastType, string message)
    {
        messages.Add(new ToastMessage
            {
                Type = toastType,
                Title = "تنبيه",
                Message = message,
                HelpText = $"{DateTime.Now}"
            });
    }
}
